app-user-menu {
	float: right;
	margin-top: 30px;
	a {
		display: block;
		position: relative;
		font-size: 14px;
		font-weight: bold;
		color: #252525;
		margin-right: 70px;
	}
	.arrow {
		position: absolute;
		right: -20px;
		top: 50%;
		font-family: "Open Sans";
		font-size: 12px;
		color: #9a9a9a;
	}
	.arrow_down {
		@extend .arrow;
		transform: translateY(-50%) rotate(90deg) scaleY(2);
	}
	.arrow_up {
		@extend .arrow;
		transform: translateY(-50%) rotate(-90deg) scaleY(2);
	}
}
