<md-menu #appMenu="mdMenu">
	<button (click)="openChangePass()" md-menu-item> Change password</button>
	<button md-menu-item (click)="handleLogout()"> Log out</button>
</md-menu>
<a [mdMenuTriggerFor]="appMenu"> {{username}} <span class="arrow_down">&#62;</span></a>
