<h2 md-dialog-title *ngIf="!edit">add locations</h2>
<h2 md-dialog-title *ngIf="edit">edit locations</h2>
<md-dialog-content>
	<form novalidate [formGroup]="locationForm" (ngSubmit)="handleSubmit(locationForm)">
		<div class="form__row form__row_left" [ngClass]="{invalid: locationForm.get('name').invalid && locationForm.get('name').dirty || errors.name}">
			<div class="clear-fix-container">
				<input class="form__input_name" type="text" placeholder="Enter store title" formControlName="name">
				<label class="form__label_name">store&nbsp;name</label>
			</div>
			<p class="message message-error" *ngIf="locationForm.get('name').errors?.required">Please enter the store title</p>
			<div class="messages" *ngIf="errors.name">
				<p class="message message-error" *ngFor="let error of errors.name">{{error}}</p>
			</div>
		</div>
		<div class="form__row form__row_right" [ngClass]="{invalid: locationForm.get('number').invalid && locationForm.get('number').dirty || errors.number}">
			<div class="clear-fix-container">
				<input class="form__input_number" type="text" placeholder="123" (change)="filterNumber()" (keydown)="filterNumber($event)" formControlName="number">
				<label class="form__label_number">number</label>
			</div>
			<p class="message message-error" *ngIf="locationForm.get('number').errors?.required">Please enter the store number</p>
			<div class="messages" *ngIf="errors.number">
				<p class="message message-error" *ngFor="let error of errors.number">{{error}}</p>
			</div>
		</div>
		<div class="clear-fix"></div>
		<div class="form__row" [ngClass]="{invalid: locationForm.get('address').invalid && locationForm.get('address').dirty || errors.address}">
			<label>store&nbsp;address</label>
			<div class="form__column">
				<textarea class="form__item_full-width" placeholder="Enter store address" formControlName="address"></textarea>
				<p class="message message-error" *ngIf="locationForm.get('address').errors?.required">Please enter the store address</p>
				<div class="messages" *ngIf="errors.address">
					<p class="message message-error" *ngFor="let error of errors.address">{{error}}</p>
				</div>
			</div>
		</div>
		<div class="form__row" [ngClass]="{invalid: locationForm.get('managerId').invalid && locationForm.get('managerId').dirty || errors.managerId}">
			<label>manager</label>
			<div class="form__column">
				<md-select class="form__item_full-width" placeholder="Choose store manager" formControlName="managerId">
					<md-option *ngFor="let manager of managers" [value]="manager.id">{{ manager.firstName }} {{ manager.lastName }} {{ manager.email }}</md-option>
				</md-select>
				<div class="messages" *ngIf="errors.managerId">
					<p class="message message-error" *ngFor="let error of errors.managerId">{{error}}</p>
				</div>
			</div>
		</div>
	</form>
</md-dialog-content>
<md-dialog-actions>
	<button *ngIf="edit" class="button-yellow_popup" type="button" (click)="handleSubmit(locationForm)">Save</button>
	<button *ngIf="!edit" class="button-yellow_popup" type="button" (click)="handleSubmit(locationForm)">Create</button>
	<button class="button-border_popup" type="button" md-dialog-close>Cancel</button>
</md-dialog-actions>
