app-add-location {
	.form__row {
		label {
			line-height: 40px;
		}
	}
	.form__row-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.clear-fix-container:after {
		content: '';
		clear: both;
		display: table;
	}
	.form__label_name {
		float: right;
	}
	.form__input_name {
		width: 150px;
		float: right;
		::-webkit-credentials-auto-fill-button {
			visibility: hidden;
			pointer-events: none;
			position: absolute;
			right: 0;
		}
	}
	.form__label_number {
		float: right;
	}
	.form__input_number {
		width: 50px;
		float: right;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
	.form__item_full-width {
		width: 100%;
	}
	.form__column {
		width: 75%;
	}
	textarea {
		box-sizing: border-box;
		min-height: 80px;
		max-height: 300px;
		max-width: 100%;
		min-width: 100%;
	}
	.form__row_left {
		display: block;
		width: 61.5%;
		box-sizing: border-box;
		float: left;
		.form__column {
			width: 100%;
		}
		.message {
			margin-left: 122px;
		}
	}
	.form__row_right {
		display: block;
		width: 38.5%;
		box-sizing: border-box;
		float: right;
		.form__column {
			width: 100%;
		}
		.message {
			margin-left: 68px;
			word-wrap: break-word;
		}
	}
	.clear-fix {
		clear: both;
	}
}
