app-empty-location-list {
	position: fixed;
	top: 80px;
	left: 280px;
	right: 0;
	bottom: 0;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.locations__header {
		padding: 10px 0 30px;
		color: #328641;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 500;
	}

	.button-yellow {
		float: none;
		display: block;
	}
}


