.search__wrapper {
  position: absolute;
  height: 18px;
  width: 380px;
  left: 40px;
  top: 50%;
  padding: 13px 40px;
  transform: translateY(-50%);
  background-color: #f4f7f9;
  border-radius: 30px;
  border: solid 1px #e6ecef;
  outline: #FFD300;
}
.search__input {
  position: absolute;
  padding: 10px 0;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  width: 200px;
  border: none;
  background-color: transparent;
  outline: none;
  &::placeholder {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #79909B;
  }
}
.search__icon {
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #79909B;
}
.search__input-radio {
  display: none;
}
.search__label-radio {
  position: relative;
  display: inline-block;
  margin-left: 45px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #BBCAD1;
  &:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: #EEEEEE;
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -19.5px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: transparent;
  }
  &:nth-child(1) {
    padding-right: 10px;
  }
}
input:checked+label {
  &.search__label-radio {
    /*color: #3B3D40;*/
    &:after {
      background-color: #3B3D40;
    }
  }
}
