.tooltip-holder {
	position: relative;
	display: inline-block;
	&:hover .mat-tooltip {
		display: block;
	}
	.mat-tooltip {
		padding: 5px;
		display: none;
		position: absolute;
		background-color: #fff;
		color: #000;
		border: 1px solid #dde4e7;
		border-radius: 3px;
		font-family: "Montserrat";
		font-weight: 600;
		left: 50%;
		top: 30px;
		transform: translateX(-50%);
		white-space: nowrap;
		&::before {
			content: '';
			position: absolute;
			left: 50%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 5px 7px 5px;
			transform: translateX(-50%);
			top: -6px;
			border-color: transparent transparent #fff transparent;
			z-index: 1;
		}
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 5px 7px 5px;
			transform: translateX(-50%);
			top: -7px;
			border-color: transparent transparent #dde4e7 transparent;
		}
	}
}


