<h2 md-dialog-title>item details</h2>
<button md-dialog-close class="equipment-details__close-button">&#10006;</button>
<md-dialog-content class="equipment-details">
	<div class="equipment-details__stock-num">
		<span>stock# - </span> {{item.stockNumber}}
	</div><div class="equipment-details__cost">
		<span>cost - </span>${{item.cost}}
	</div>
	<textarea type="text" [formControl]="noteControl" rows="7"></textarea>
	<div class="equipment-details__label">attachment stock numbers</div>
	<div class="attachments">
		<div class="attachments__header clearfix">
			<div>stock #</div>
			<div>model #</div>
		</div>
		<div class="attachments__items">
			<div *ngFor="let attachedItem of item.attachedItems" class="attachments__item clearfix">
				<div (click)="selectItem(attachedItem)">{{attachedItem.stockNumber}}</div>
				<div (click)="selectItem(attachedItem)">{{attachedItem.modelName}}</div>
			</div>
		</div>
	</div>
</md-dialog-content>

