app-equipment-item-details {
	.equipment-details {
		textarea {
			max-width: 100%;
		}
	}
	.equipment-details__close-button {
		position: absolute;
		right: 30px;
		top: 30px;
		padding: 10px 11px;
		border: solid 2px #c8cfd4;
		border-radius: 20px;
		background-color: #f4f7f9;
		line-height: 1;
		cursor: pointer;
		z-index: 1;
		outline: none;
	}
	.equipment-details__stock-num {
		padding: 15px 0;
		width: 50%;
		display: inline-block;
		box-sizing: border-box;
		font-family: Montserrat;
		font-size: 12px;
		font-weight: bold;
		color: #252525;
		text-transform: uppercase;
		letter-spacing: 1px;
		span {
			color:  #78909c;
		}
	}
	.equipment-details__cost {
		padding: 15px 0 33px 10px;
		width: 50%;
		display: inline-block;
		box-sizing: border-box;
		font-family: Montserrat;
		font-size: 12px;
		font-weight: bold;
		color: #252525;
		text-transform: uppercase;
		letter-spacing: 1px;
		span {
			color:  #78909c;
		}
	}
	.equipment-details__label {
		padding: 15px 0;
		font-family: Montserrat;
		font-size: 12px;
		font-weight: bold;
		color: #78909c;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	.attachments {
		width: 100%;
		border: 1px solid #c8cfd4;
		border-radius: 3px;
	}
	.attachments__header {
		width: 100%;
		background-color: #f9f9f9;
		font-weight: bold;
		border-bottom: 1px solid #c8cfd4;
		text-transform: capitalize;
		& > div {
			background-color: transparent;
			padding: 16px;
			float: left;
			width: 50%;
			box-sizing: border-box;
			font-size: 12px;
		}
	}
	.attachments__items {
		width: 100%;
		max-height: 150px;
		overflow-y: auto;
	}
	.attachments__item {
		cursor: pointer;
		&:hover {
			background-color: #F4F7F9;
		}
		& > div {
			background-color: transparent;
			padding: 16px;
			float: left;
			width: 50%;
			box-sizing: border-box;
			font-size: 12px;
			&:first-child {
				font-weight: bold;
			}
		}
	}
}
