<h2 md-dialog-title>Create account</h2>
<md-dialog-content>
	<form novalidate [formGroup]="newUserForm" (ngSubmit)="createUser(newUserForm)" class="clearfix">
		<div class="pull-left ">
			<div class="form__row" [ngClass]="{invalid: newUserForm.get('firstName').invalid && newUserForm.get('firstName').dirty || errors.firstName}">
				<label>First name</label>
				<div class="form__input-wrapper">
					<input type="text" placeholder="Your first name" formControlName="firstName">
					<p class="message message-error" *ngIf="newUserForm.get('firstName').errors?.required">Please enter your first name</p>
					<div class="messages" *ngIf="errors.firstName">
						<p class="message message-error" *ngFor="let error of errors.firstName">{{error}}</p>
					</div>
				</div>
			</div>
			<div class="form__row" [ngClass]="{invalid: newUserForm.get('lastName').invalid && newUserForm.get('lastName').dirty || errors.lastName}">
				<label>Last name</label>
				<div class="form__input-wrapper">
					<input type="text" placeholder="Your last name" formControlName="lastName">
					<p class="message message-error" *ngIf="newUserForm.get('lastName').errors?.required">Please enter your last name</p>
					<div class="messages" *ngIf="errors.lastName">
						<p class="message message-error" *ngFor="let error of errors.lastName">{{error}}</p>
					</div>
				</div>
			</div>
			<div class="form__row" [ngClass]="{invalid: passwordInvalid || errors.password}">
				<label>Password</label>
				<div class="form__input-wrapper">
					<input type="password" placeholder="Your password" formControlName="password" (change)="checkPasswordValidation()">
					<p class="message message-error" *ngIf="newUserForm.get('password').errors?.required">Please enter your password</p>
					<p class="message message-error" *ngIf="newUserForm.get('password').errors?.pattern">Your password must contain at least 6 characters with at least one number, one uppercase letter and one lowercase letter.</p>
					<div class="messages" *ngIf="errors.password">
						<p class="message message-error" *ngFor="let error of errors.password">{{error}}</p>
					</div>
				</div>
			</div>
			<div class="form__row" [ngClass]="{invalid: passwordRepeat.invalid && passwordRepeat.dirty}">
				<label>Repeat</label>
				<div class="form__input-wrapper">
					<input type="password" placeholder="Your password once again" [formControl]="passwordRepeat">
					<p class="message message-error" *ngIf="!passwordRepeat.value">Please repeat your password</p>
					<p class="message message-error" *ngIf="passwordRepeat.value && passwordRepeat.invalid">Passwords do not match</p>
				</div>
			</div>
		</div>
		<div class="pull-right">
			<div class="form__row" [ngClass]="{invalid: emailInvalid || errors.email}">
				<label>Email</label>
				<div class="form__input-wrapper">
					<input type="email" placeholder="Your email address" (change)="checkEmailValidation()" formControlName="email">
					<p class="message message-error" *ngIf="newUserForm.get('email').errors?.required">Please enter your email address</p>
					<div class="messages" *ngIf="errors.email">
						<p class="message message-error" *ngFor="let error of errors.email">{{error}}</p>
					</div>
				</div>
			</div>
			<div class="form__row" [ngClass]="{invalid: newUserForm.get('role').invalid && newUserForm.get('role').dirty || errors.role}">
				<label>Role</label>
				<div class="form__input-wrapper">
					<md-select formControlName="role" placeholder="Your role">
						<md-option *ngFor="let level of levels" [value]="level.value">{{ level.viewValue }}</md-option>
					</md-select>
					<p class="message message-error" *ngIf="newUserForm.get('role').errors?.required">Please choose your role</p>
					<div class="messages" *ngIf="errors.role">
						<p class="message message-error" *ngFor="let error of errors.role">{{error}}</p>
					</div>
				</div>
			</div>
			<div class="form__row" *ngIf="showLocation" [ngClass]="{invalid: newUserForm.get('storeId').invalid && newUserForm.get('storeId').dirty || errors.storeId}">
				<label>Location</label>
				<div class="form__input-wrapper">
					<md-select formControlName="storeId"  placeholder="Your location">
						<md-option *ngFor="let store of locations" [value]="store.id">{{ store.name }}</md-option>
					</md-select>
					<div class="messages" *ngIf="errors.storeId">
						<p class="message message-error" *ngFor="let error of errors.storeId">{{error}}</p>
					</div>
				</div>
			</div>
		</div>
	</form>
</md-dialog-content>
<md-dialog-actions>
	<button class="button-yellow_popup" type="button" (click)="createUser(newUserForm)">Create</button>
	<button class="button-border_popup" type="button" md-dialog-close>Cancel</button>
</md-dialog-actions>
