<h2 md-dialog-title>User setup</h2>
<md-dialog-content>
	<form novalidate [formGroup]="updateUserForm" (ngSubmit)="updateUser(updateUserForm)" class="clearfix">
		<div class="pull-left ">
			<div class="form__row" [ngClass]="{invalid: updateUserForm.get('firstName').invalid && updateUserForm.get('firstName').dirty || errors.firstName}">
				<label>First name</label>
				<div class="form__input-wrapper">
					<input type="text" placeholder="Text" formControlName="firstName">
					<p class="message message-error" *ngIf="updateUserForm.get('firstName').errors?.required">Please enter your first name</p>
					<div class="messages" *ngIf="errors.firstName">
						<p class="message message-error" *ngFor="let error of errors.firstName">{{error}}</p>
					</div>
				</div>
			</div>
			<div class="form__row" [ngClass]="{invalid: updateUserForm.get('lastName').invalid && updateUserForm.get('lastName').dirty || errors.lastName}">
				<label>Last name</label>
				<div class="form__input-wrapper">
					<input type="text" placeholder="Text" formControlName="lastName">
					<p class="message message-error" *ngIf="updateUserForm.get('lastName').errors?.required">Please enter your last name</p>
					<div class="messages" *ngIf="errors.lastName">
						<p class="message message-error" *ngFor="let error of errors.lastName">{{error}}</p>
					</div>
				</div>
			</div>
			<div class="form__row" [ngClass]="{invalid: updateUserForm.get('email').invalid && updateUserForm.get('email').dirty || errors.email}">
				<label>Username</label>
				<div class="form__input-wrapper">
					<input type="email" placeholder="Text" formControlName="email">
					<p class="message message-error" *ngIf="updateUserForm.get('email').errors?.required || updateUserForm.get('email').errors?.email">
						Please enter your email address
					</p>
					<div class="messages" *ngIf="errors.email">
						<p class="message message-error" *ngFor="let error of errors.email">{{error}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="pull-right">
			<div class="form__row" [ngClass]="{invalid: updateUserForm.get('role').invalid && updateUserForm.get('role').dirty || errors.role}">
				<label>User Level</label>
				<div class="form__input-wrapper">
					<md-select formControlName="role">
						<md-option *ngFor="let level of levels" [value]="level.value">{{ level.viewValue }}</md-option>
					</md-select>
					<div class="messages" *ngIf="errors.role">
						<p class="message message-error" *ngFor="let error of errors.role">{{error}}</p>
					</div>
				</div>
			</div>
			<div class="form__row" *ngIf="showLocation" [ngClass]="{invalid: updateUserForm.get('storeId').invalid && updateUserForm.get('storeId').dirty || errors.storeId}">
				<label>Location</label>
				<div class="form__input-wrapper">
					<md-select formControlName="storeId">
						<md-option *ngFor="let store of locations" [value]="store.id">{{ store.name }}</md-option>
					</md-select>
					<div class="messages" *ngIf="errors.storeId">
						<p class="message message-error" *ngFor="let error of errors.storeId">{{error}}</p>
					</div>
				</div>
			</div>
		</div>
	</form>
</md-dialog-content>
<md-dialog-actions>
	<button class="button-border_popup-left" type="button" (click)="deleteUser()">Delete</button>
	<button (click)="updateUser(updateUserForm)" class="button-yellow_popup" type="button">Save</button>
	<button class="button-border_popup" type="button" md-dialog-close>Cancel</button>
</md-dialog-actions>
