app-password-restore {
	p {
		margin-bottom: 10px;
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		color: #78909c;
	}
	input {
		width: 100%;
		padding: 10px 15px;
		box-sizing: border-box;
		outline-color: #FFD300;
		border-radius: 3px;
		border: solid 1px #c8cfd4;
		color: #252525;
		font-weight: bold;
		&::placeholder {
			color: #252525;
			font-weight: bold;
		}
	}
	.mat-dialog-actions {
		padding: 0;
	}
}