<h2 md-dialog-title>Forgot password?</h2>
<md-dialog-content>
	<p>An email with the link for restoring <br> password will be sent to your email address</p>
	<input [formControl]="email" type="email" placeholder="Enter email address">
	<p *ngIf="email.invalid && email.dirty" class="message message-error">Email is required</p>
	<p class="message message-error" *ngIf="error">{{error}}</p>
</md-dialog-content>
<md-dialog-actions>
	<button class="button-yellow_popup" (click)="submit()" type="button">Submit</button>
	<button class="button-border_popup" type="button" md-dialog-close>Cancel</button>
</md-dialog-actions>
