<div class="equipment-list">
	<table class="list" #scrollTable>
		<tr>
			<th *ngIf="canAddRequest" >action</th>
			<th *ngFor="let field of displayFields">{{field.displayName}}</th>
		</tr>
		<tr *ngFor="let item of items">
			<td *ngIf="canAddRequest"  class="equipment-list__add-request" (click)="handleNewRequest(item)">+Add request</td>
			<td *ngFor="let field of displayFields" (click)="showItemDetails(item)"  class="model">{{item[field.name]}}</td>
		</tr>
	</table>
	<div class="equipment-list__no-result-text"
	     *ngIf="!items || !items.length">There are no items matching your search and searching conditions.</div>
</div>
