.equipment-list {
	margin-top: 40px;
	tr {
		cursor: pointer;
	}
	.model {
		text-align: left;
		text-transform: uppercase;
		color: #78909c;
		&:nth-of-type(1) {
			color: #252525;
		}
	}
	.equipment-list__add-request {
		color: #19752A;
		text-transform: uppercase;
	}
	.equipment-list__no-result-text {
		padding: 50px;
		color: #328641;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 500;
		text-align: center;
		font-family: Montserrat;
	}
}
