.requests-list {
	.stock-num {
		font-size: 12px;
		font-weight: bold;
		color: #252525;
		width: 120px;
	}
	.model {
		font-size: 12px;
		font-weight: 500;
		color: #252525;
		text-transform: uppercase;
	}
	.requester {
		font-size: 12px;
		font-weight: bold;
		color: #252525;
		position: relative;
		text-transform: uppercase;
	}
	.from-to {
		color: #78909c;
		text-transform: uppercase;
	}
	.shipment {
		color: #78909c;
	}
	.request {
		color: #78909c;
	}
	.status {
		position: relative;
	}
	.read {
		width: 20px;
	}
	.restore {
		display: none;
	}
	.read-icon {
		width: 22px;
		height: 23px;
		float: left;
		background-image: url(/assets/comment-icon.png);
	}
	.restore-item {
		.stock-num {
			color: #BEBEBE;
		}
		.model {
			color: #BEBEBE;
		}
		.first-name {
			color: #D6DDE1;
		}
		.requester {
			color: #D6DDE1;
		}
		.from-to {
			color: #D6DDE1;
		}
		.shipment {
			color: #D6DDE1;
		}
		.request {
			color: #D6DDE1;
		}
		.status {
			color: #D6DDE1;
		}
		.restore {
			display: block;
		}
	}
	.status__wrapper_pending {
		margin-left: -10px;
	}
}
.requests-list__no-result-text {
	padding: 50px;
	color: #328641;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	font-family: Montserrat;
}
