<table class="list requests-list" #scrollTable>
	<tr>
		<th>stock #</th>
		<th>model #</th>
		<th>requester</th>
		<th>from - To</th>
		<th>shipment</th>
		<th>request</th>
		<th colspan="3">status</th>
	</tr>
	<tr *ngFor="let item of requests" [ngClass]="{'restore-item': item.removed}">
		<td class="stock-num">{{item.storeItem.stockNumber}}</td>
		<td class="model">{{item.storeItem.modelName}}</td>
		<td class="requester">
			<app-username [user]="item.requestedBy"></app-username>
		</td>
		<td class="from-to">{{item.storeItem.store.name}} <br> {{item.storeReceiver.name}}</td>
		<td class="shipment">{{item.shipmentDate | date:"MM/dd/yy"}}</td>
		<td class="request">{{item.requestDate | date:"MM/dd/yy"}}</td>
		<td class="status">
			<app-request-status [item]="item"></app-request-status>
		</td>
		<td class="read">
			<a *ngIf="true" (click)="requestSidebar(item)" class="read-icon"></a>
		</td>
		<td class="edit" *ngIf="isAdmin || isTransferCoordinator">
			<a [mdMenuTriggerFor]="editMenu" (click)="setCurrentItem(item)" class="edit-icon">• • •</a>
		</td>
	</tr>
</table>
<div class="requests-list__no-result-text"
	 *ngIf="!requests || !requests.length">There are no transfer requests matching your search and filtering conditions.</div>

<md-menu #editMenu="mdMenu">
	<span class="edit-icon">• • •</span>
	<button md-menu-item (click)="editItem()">edit</button>
	<button *ngIf="currentItem && currentItem.status !== cancelled" md-menu-item (click)="cancelItem()">cancel</button>
</md-menu>
