.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 280px;
	background-color: #202020;
	overflow-y: auto;
	z-index: 1;
}

.sidebar__logo {
	height: 200px;
	background-image: url(/assets/wt-logo.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.sidebar__links {
	padding: 0;
	margin: 0;
	li {
		list-style-type: none;
		position: relative;
	}
	a {
		display: block;
		padding: 20px;
		color: #fffefe;
		font-size: 14px;
		font-weight: normal;
		text-transform: uppercase;
		&.sidebar__active-link{
			background-color: #1e772d;
		}
	}
}
.sidebar__pending-badge {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	padding: 5px 15px;
	border-radius: 20px;
	color: #252525;
	background-color: #FFD300;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	&:empty {
		display: none;
	}
}
