<aside class="sidebar">
	<div class="sidebar__logo"></div>
	<ul class="sidebar__links">
		<li>
			<a routerLink="/requests" routerLinkActive="sidebar__active-link">
				Transfer requests
				<div class="sidebar__pending-badge">{{pendingCount}}</div>
			</a>
		</li>
		<li><a routerLink="/locations" routerLinkActive="sidebar__active-link">Locations</a></li>
		<li><a routerLink="/equipment" routerLinkActive="sidebar__active-link">Equipment list</a></li>
		<li *ngIf="isAdmin"><a routerLink="/user-setup" routerLinkActive="sidebar__active-link">User setup</a></li>
	</ul>
</aside>
