<div class="comment">
	<div class="comment__info">
		<div class="clearfix">
			<div class="pull-left">
				<div class="comment__editor">{{ madeByUser.firstName }} {{ madeByUser.lastName }}</div>
				<div class="comment__status">Left a note</div>
			</div>
			<div class="pull-right">
				<div class="comment__date">{{dateTime|date("m/d/Y H:i:s")}}</div>
			</div>
		</div>
	</div>
	<div class="comment__content">{{ note }}</div>
</div>