<div class="change-status">
    <div class="clearfix">
        <div class="pull-left">
            <div class="change-status__editor">
               {{ madeByUser.lastName }} {{ madeByUser.firstName }}
            </div>
        </div>
        <div class="pull-right">
            <div class="change-status__date">{{dateTime|date("m/d/Y H:i:s")}}</div>
        </div>
    </div>
    <div class="change-status__info">
       Changed status from <strong>{{ old.status }}</strong> to <strong>{{ new.status }}</strong>
    </div>
</div>

<div class="comment">
	<div class="comment__info">
		<div class="clearfix">
			<div class="pull-left">
				<div class="comment__status">And left a note</div>
			</div>
		</div>
	</div>
	<div class="comment__content">{{ note }}</div>
</div>