<div class="change-status">
	<div class="clearfix">
		<div class="pull-left">
			<div class="change-status__editor">
				{{ madeByUser.firstName }} {{ madeByUser.lastName }}
			</div>
		</div>
		<div class="pull-right">
			<div class="change-status__date">{{dateTime|date("m/d/Y H:i:s")}}</div>
		</div>
	</div>
	<div class="change-status__info">
		Resubmitted the transfer request, changed stock # from <strong>{{ old.storeItem.stockNumber }}</strong> to <strong>{{ old.storeItem.stockNumber }}</strong>
	</div>
</div>


<div class="comment">
	<div class="comment__info">
		<div class="clearfix">
			<div class="pull-left">
				<div class="comment__status">Аnd added a note:</div>
			</div>
		</div>
	</div>
	<div class="comment__content">
        {{ note }}
	</div>
</div>