<div class="change-status">
    <div class="clearfix">
        <div class="pull-left">
            <div class="change-status__editor">
                {{ madeByUser.firstName }} {{ madeByUser.lastName }}
            </div>
        </div>
        <div class="pull-right">
            <div class="change-status__date">{{dateTime|date("m/d/Y H:i:s")}}</div>
        </div>
    </div>
    <div class="change-status__info">
        Changed
        {% if old.storeItem.stockNumber != new.storeItem.stockNumber %} stock # from {{ old.storeItem.stockNumber }} to {{ new.storeItem.stockNumber }}{% endif %}
        {% if old.purpose != new.purpose %}{% if old.storeItem.stockNumber != new.storeItem.stockNumber %},{% endif %} purpose from {{ old.purpose }} to {{ new.purpose }}{% endif %}
        {% if old.storeReceiver.name != new.storeReceiver.name %}{% if old.storeItem.stockNumber != new.storeItem.stockNumber or old.purpose != new.purpose %},{% endif %} receiving location from {{ old.storeReceiver.name }} to {{ new.storeReceiver.name }}{% endif %}
        {% if old.requestDatetime != new.requestDatetime %}{% if old.requestDatetime %} estimated shipment date from {{ old.requestDatetime|date('Y-m-d H:i:s') }} to {{ new.requestDatetime|date('Y-m-d H:i:s') }}  {% else %} set estimated shipment date as {{ new.requestDatetime|date('Y-m-d H:i:s') }} {% endif %}{% endif %}
    </div>
</div>

<div class="comment">
	<div class="comment__info">
		<div class="clearfix">
			<div class="pull-left">
				<div class="comment__status">Аnd added a note:</div>
			</div>
		</div>
	</div>
	<div class="comment__content">
		{{ note }}
	</div>
</div>