<div class="change-status">
    <div class="clearfix">
        <div class="pull-left">
            <div class="change-status__editor">
               {{ madeByUser.lastName }} {{ madeByUser.firstName }}
            </div>
        </div>
        <div class="pull-right">
            <div class="change-status__date">{{dateTime|date("m/d/Y H:i:s")}}</div>
        </div>
    </div>
    <div class="change-status__info">
       Changed status from <strong>{{ old.status }}</strong> to <strong>{{ new.status }}</strong>
    </div>
</div>