<h2 md-dialog-title>Change password</h2>
<md-dialog-content>
	<form novalidate [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)">
		<div class="form__row"  [ngClass]="{form__row_error: changePasswordForm.get('currentPassword').invalid &&  changePasswordForm.get('currentPassword').dirty}">
			<label>current password</label>
			<input type="password" formControlName="currentPassword">
			<div class="form__error" *ngIf="changePasswordForm.get('currentPassword').invalid && changePasswordForm.get('currentPassword').dirty && changePasswordForm.get('currentPassword').errors?.required">Please enter your current password</div>
		</div>
		<div class="form__row" [ngClass]="{form__row_error: invalidNewPassword}">
			<label>new password</label>
			<input type="password" formControlName="newPassword" (change)="checkNewPasswordValidation()">
			<div class="form__error" *ngIf="changePasswordForm.get('newPassword').errors?.required">Please enter your new password</div>
			<div class="form__error" *ngIf="changePasswordForm.get('newPassword').errors?.passwordEqualityError">New password must be different from the current password</div>
			<div class="form__error" *ngIf="changePasswordForm.get('newPassword').errors?.pattern">Your password must contain at least 6 characters with at least one number, one uppercase letter and one lowercase letter.</div>
		</div>
		<div class="form__row" [ngClass]="{form__row_error: changePasswordForm.get('passwordRepeat').invalid &&  changePasswordForm.get('passwordRepeat').dirty}">
			<label>Repeat new password</label>
			<input type="password" formControlName="passwordRepeat">
			<div class="form__error" *ngIf="changePasswordForm.get('passwordRepeat').invalid &&  changePasswordForm.get('passwordRepeat').dirty && changePasswordForm.get('passwordRepeat').errors?.passwordMatchError">Passwords do not match</div>
		</div>
	</form>
</md-dialog-content>
<md-dialog-actions>
	<button class="button-yellow_popup" (click)="changePassword(changePasswordForm)" type="button">Submit</button>
	<button class="button-border_popup" type="button" md-dialog-close>Cancel</button>
</md-dialog-actions>
