<div class="new-comment">
	<div class="clearfix">
		<div class="pull-left">
			<div class="new-comment__header">notes</div>
		</div>
		<div class="pull-right">
			<div class="new-comment__number">{{currentListItem.activitiesCounter}}</div>
		</div>
	</div>
	<form novalidate [formGroup]="noteForm" (ngSubmit)="sendNote(noteForm)">
		<textarea #noteInput (focus)="focusTextarea()" placeholder="Write a comment..." formControlName="lastNote" [ngClass]="{focused: isButtonShown}"></textarea>
		<div class="clearfix" *ngIf="isButtonShown">
			<button class="button-yellow button-yellow_notes" type="submit">send</button>
			<button class="button-border button-border_notes" type="reset">cancel</button>
		</div>
	</form>
</div>
