.new-comment {
	padding-bottom: 20px;
	textarea {
		width: 100%;
		box-sizing: border-box;
		padding: 20px 12px;
		margin-top: 20px;
		height: 60px;
		background-color: #fff;
		font-weight: 500;
		transition: height .2s ease;
		&.focused {
			height: 100px;
		}
		&::placeholder {
			opacity: 1;
			font-size: 12px;
			font-weight: bold;
			color: #d7e0e5;
		}
		&.focused::placeholder {
			opacity: 0;
			transition: opacity 0.3s ease;
		}
	}
}
.new-comment__header {
	margin-left: 12px;
	font-size: 16px;
	font-weight: 500;
	color: #252525;
	text-transform: uppercase;

}
.new-comment__number {
	margin-right: 10px;
	font-size: 16px;
	font-weight: 500;
	color: #78909c;
}

.button-yellow_notes {
	margin-top: 15px;
}
.button-border_notes {
	margin: 15px 20px 0 0;
}
