<div class="user-setup__header">new request</div>
<table class="list user-setup-list">
	<tr *ngFor="let item of users">
		<td class="first-name">{{item.firstName}}</td>
		<td class="last-name">{{item.lastName}}</td>
		<td class="email">{{item.email}}</td>
		<td class="user-level"><app-tooltip [tooltip]="USER_ROLE[item.role]">{{USER_LEVEL[item.role]}}</app-tooltip></td>
		<td class="location">{{item.stores[0]?.name}}</td>
		<td class="buttons">
			<div class="list__cell-wrap">
				<span class="button-grey no-margin" (click)="showDecline(item)" >decline</span>
				<span class="button-green" (click)="approve(item)">approve</span>
			</div>
		</td>
	</tr>
</table>
