.equipment-content {
	padding: 23px 40px;
}
.equipment__filter {
	float: left;
}
.button-dropdown_filter {
	margin-right: 20px;
}
.equipment__date-picker {
	display: inline-block;
	.datepicker {
		background-color: #fff;
		&::after {
			position: absolute;
			right: 15px;
			top: 50%;
			content: '>';
			color: #a0afb8;
			transform: translateY(-45%) rotate(90deg) scaleY(2);
			font-size: 10px;
			font-weight: bold;
			font-family: "Open Sans";
		}
		&::before {
			position: absolute;
			display: block;
			width: 16px;
			height: 15px;
			background-image: url(/assets/calendar.png);
			left: 10px;
			top: 50%;
			content: '';
			transform: translateY(-50%);
		}
	}
	.datepicker__input {
		position: relative;
		padding: 10px 35px 10px 35px;
		background-color: transparent;
		border: solid 2px #c8cfd4;
		border-radius: 3px;
		cursor: pointer;
		font-weight: 500;
		outline-color: #FFD300;
		width: 70px;
		font-family: Montserrat;
		font-size: 12px;
	}
}

