<app-top-bar>
	<app-search-component (onSearch)="updateSearchParams($event)"></app-search-component>
</app-top-bar>
<div class="equipment-content">
	<app-equipment-filter (onShowSettings)="handleShowSettings()"></app-equipment-filter>
	<app-equipment-settings *ngIf="showSettings" [fields]="fields" (onSave)="saveFileds($event)"></app-equipment-settings>
	<app-equipment-list-table [fields]="fields" [loadMore$]="loadMore$" [items]="items" [resetScroll$]="resetScroll$"></app-equipment-list-table>
</div>
