.info-message {
	position: fixed;
	top: 30px;
	padding: 20px;
	max-width: 300px;
	left: 50%;
	background-color: #def2e0;
	transform: translateX(-50%);
	font-weight: 600;
	z-index: 9999;
	border-radius: 3px;
	line-height: 14px;
	font-size: 12px;
	border: 1px solid #dde4e7;
	p {
		padding: 0 0 5px 0;
		margin: 0;
		word-wrap: break-word;
		&:last-child {
			padding: 0;
		}
	}
}
