<app-top-bar></app-top-bar>
<div class="locations-content">
	<app-location-list
		*ngIf="locations && locations.length"
		(onEdit)="handleEdit($event)"
		(onDelete)="handleDelete($event)"
		(onRestore)="handleRestore($event)"
		[locations]="locations">
	</app-location-list>
	<app-empty-location-list
		*ngIf="!locationProcessing && (!locations || !locations.length)"
		(onCreate)="handleEdit($event)">
	</app-empty-location-list>
</div>
