<div class="equipment-settings__container">
	<div class="clearfix">
		<div class="pull-left">
			<button class="button-grey" (click)="changeAll(true)">select all</button>
			<button  class="button-grey" (click)="changeAll(false)">deselect all</button>
		</div>
		<div class="pull-right">
			<button  class="button-yellow" (click)="saveFields()">save changes</button>
		</div>
	</div>
	<div class="equipment-settings__options">
		<!--<div class="equipment-settings__item" *ngFor="let field of fields">
			<md-checkbox  class="equipment-settings__cell" [(ngModel)]="field.display">{{field.displayName}}</md-checkbox>
		</div>-->
		<div *ngFor="let col of filedsByColumns" class="equipment-settings__col">
			<md-checkbox *ngFor="let field of col" class="equipment-settings__cell" [disabled]="field.disabled" [(ngModel)]="field.display">{{field.displayName}}</md-checkbox>
		</div>
	</div>
</div>
