.equipment-settings__container {
	padding: 20px;
	background-color: #fcfdfd;
	box-shadow: 0px 10px 50px 0 rgba(0,0,0,0.2) ;
}
.equipment-settings__options {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	width: 80%;
}
.equipment-settings__col {
	display: flex;
	flex-direction: column;
}
.equipment-settings__cell{
	margin-bottom: 30px;
	.mat-checkbox-frame {
		border-color: #dcdcdc;
	}
	.mat-checkbox-checkmark-path {
		stroke: #1e772d !important;
	}
}
.equipment-settings__cell.mat-checkbox-checked.mat-accent .mat-checkbox-background {
	background-color: #f4f4f4;
	border: 2px solid #dcdcdc;
}