.status__value {
	margin-left: 20px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #78909c;
}
.status__mark {
	width: 16px;
	height: 16px;
	border-radius: 10px;
	background-color: #1e772d;
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.status__mark_in-button {
	left: 10px;
}
.status__mark_pending {
	@extend .status__mark;
	background-color: #ffd200;
	border: solid 1px #ddbd28;
}

.status__mark_declined {
	@extend .status__mark;
	background-color: #ff4037;
	border: solid 1px #e5514a;
}

.status__mark_cancelled {
	@extend .status__mark;
	background-color: #dde4e7;
	border: solid 1px #cdd8dd;
}

.status__mark_approved {
	@extend .status__mark;
	background-color: #66bb6a;
	border: solid 1px #69a16b;
}

.status__wrapper {
	position: relative;
	padding: 10px 40px 10px 10px;
	border-radius: 20px;
	display: inline-block;
	line-height: 12px;
}

.status__wrapper_pending {
	@extend .status__wrapper;
	background-color: #ffd200;
	.status__mark_pending {
		left: 10px;
		transform: translateY(-55%);
		background-color: #fff;
		border: solid 1px #debb3d;
	}
	.status__value {
		margin-left: 30px;
	}
}
.status__wrapper_approved {
	@extend .status__wrapper;
	margin-left: -10px;
	background-color: #66bb6a;
	.status__mark_approved {
		background-color: #fff;
		border: solid 1px #69a16b;
	}
	.status__value {
		margin-left: 25px;
		color: #fff;
	}
	.status__pending-arrow {
		color: #fff;
	}
}
.status__pending-arrow {
	position: absolute;
	right: 15px;
	top: 50%;
	font-family: "Open Sans";
	font-size: 10px;
	color: #9a9a9a;
	transform: translateY(-50%) rotate(90deg) scaleY(2);
}

.status__wrapper_undoing {
	position: relative;
	padding: 10px;
	border: 1px solid #297738;
	border-radius: 20px;
	display: inline-block;
	line-height: 12px;
	.status__value {
		margin-left: 0;
		color: #297738;
	}
	.status__mark {
		margin-left: 10px;
		background-color: #fff;
		border: 1px solid #dde2e5;
	}
}
