<div class="status__wrapper" *ngIf="(!canApproveAndDecline && (!canCancel || (canCancel && !transferDetailsView))  && !canComplete && !item.removed)">
	<span class="status__mark {{'status__mark_' + item.status.toLowerCase()}}"></span>
	<span class="status__value">{{item.status}}</span>
</div>

<a class="{{'status__wrapper_' + item.status.toLowerCase()}}"
	*ngIf="(canApproveAndDecline || canComplete || (canCancel && transferDetailsView)) && !item.removed"
	[mdMenuTriggerFor]="dropdownMenu">
	<span class="{{'status__mark status__mark_in-button status__mark_' + item.status.toLowerCase()}}"></span>
	<span class="status__value">{{item.status}}</span>
	<span class="status__pending-arrow">&#62;</span>
</a>


<a class="status__wrapper_undoing"
   *ngIf="item.removed" (click)="restoreTransferRequest()">
	<span class="status__value">Restore</span>
</a>


<md-menu #dropdownMenu="mdMenu">
	<button *ngIf="canCancel && transferDetailsView" (click)="cancelTransferRequest()" md-menu-item>cancel</button>
	<button *ngIf="canComplete" (click)="completeTransferRequest()" md-menu-item>complete</button>
	<button *ngIf="canApproveAndDecline" (click)="approveTransferRequest()" md-menu-item>approve</button>
	<button *ngIf="canApproveAndDecline" (click)="declineTransferRequest()" md-menu-item>decline</button>
</md-menu>

