<div class="user-setup__header">All users</div>
<table class="list user-setup-list" #scrollTable>
	<tr>
		<th>Last name</th>
		<th>First name</th>
		<th>email</th>
		<th class="user-level">User level</th>
		<th>Location</th>
		<th></th>
	</tr>
	<tr *ngFor="let user of users" [ngClass]="{list__content: true, 'restore-item': user.removed}">
		<td class="last-name">{{user.lastName}}</td>
		<td class="first-name">{{user.firstName}}</td>
		<td class="email">{{user.email}}</td>
		<td class="user-level" ><app-tooltip [tooltip]="USER_ROLE[user.role]">{{USER_LEVEL[user.role]}}</app-tooltip></td>
		<td class="location">{{user.stores[0]?.name}}</td>
		<td class="edit">
			<a [mdMenuTriggerFor]="editMenu" class="edit-icon" (click)="setEditUser(user)">• • •</a>
			<a class="restore" (click)="restoreUser(user)">restore</a>
		</td>
	</tr>
</table>
<md-menu #editMenu="mdMenu">
	<span class="edit-icon">• • •</span>
	<button (click)="editUserItem()" md-menu-item> edit </button>
	<button md-menu-item (click)="deleteUser()"> delete </button>
</md-menu>
