<h2 md-dialog-title>New Password</h2>
<md-dialog-content>
	<div class="form__row" [ngClass]="{invalid: invalidPassword}">
		<label>new password</label>
		<input [formControl]="password" type="password" placeholder="Your new password" (change)="checkPasswordValidation()">
		<p class="message message-error" *ngIf="password.errors?.pattern">Your password must contain at least 6 characters with at least one number, one uppercase letter and one lowercase letter.</p>
	</div>
	<div class="form__row" [ngClass]="{invalid: password2.invalid && password2.dirty}">
		<label>Repeat new password</label>
		<div>
			<input [formControl]="password2" type="password" placeholder="Repeat your new password">
			<p class="message message-error" *ngIf="password2.errors?.passwordMatchError">{{password2.errors.passwordMatchError}}</p>
		</div>
	</div>
	<p class="message message-error" *ngIf="error">{{error}}</p>
</md-dialog-content>
<md-dialog-actions>
	<button class="button-yellow_popup" (click)="submit()" type="button">Confirm</button>
</md-dialog-actions>
