<div class="equipment__top-wrap">
	<div class="clearfix">
		<div class="pull-left">
			<button  class="button-dropdown button-dropdown_filter" (click)="showSettings()">Filter fields</button>
			<!--<button  class="button-dropdown button-dropdown_date">date</button>-->
			<div class="equipment__date-picker"
			     *ngIf="isAdmin">
				<material-datepicker
					[date]="dates"
					(onDateChange)="handleDateSelect($event)"
					dateFormat="MM/DD/YYYY"
					[showMonths]="1"
					[isRange]="false"
					[maxDate]="maxDate"
				></material-datepicker>
			</div>
		</div>
		<a class="button-yellow" *ngIf="isAdmin" (click)="downloadDatabase();">Download database</a>
	</div>
</div>
