body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	overflow-y: auto;
	background-color: #f4f7f9;
	* {
		font-family: inherit;
	}
}

[hidden] {
	display: none !important;
}

.clearfix {
	*zoom: 1;
	&::before,
	&::after {
		display: table;
		content: "";
	}
	&::after {
		clear: both;
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

a {
	cursor: pointer;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.main-content {
	padding-left: 280px; //sidebar width
	padding-top: 80px; //top bar width
	display: block;
}

.request-content {
	padding: 23px 40px;
	background-color: #f4f7f9;
}

.list {
	width: 100%;
	margin-top: 12px;
	border-collapse: collapse;
	border-radius: 3px;
	box-shadow: 0px 3px 7px 0 #dcdcdc;
}
.list__header {
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color: #78909c;
	background-color: #dde4e7;
	th {
		padding: 20px;
		border-right: none;
		border-left: none;
		text-transform: uppercase;
	}
}
.list__content {
	background-color: #fefefe;
	border-bottom: 1px solid #dde2e5;
	td {
		border-right: none;
		border-left: none;
	}
}
.list__item-edit {
	float: right;
	cursor: pointer;
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #78909c;
	margin-right: 10px;
	user-select: none;
}
.list__item-edit_in-cell {
  @extend .list__item-edit;
  margin-right: 30px;
}
.datepicker__calendar__month td {
	cursor: pointer;
}
.cdk-overlay-container .cdk-overlay-pane {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
}