.button {
	display: inline-block;
  	padding: 8px 15px;
	text-transform: uppercase;
	border-radius: 40px;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
	background-color: transparent;
	color: #202020;
	border: 0 none;
	cursor: pointer;
	transition: translate3d .1s ease;
	//transform: translate3d(0,0,0);
	outline: none;
	&:hover {
		transform: translate3d(0,-2px,0);
	}
	&:active, &:focus {
		transform: translate3d(0,0,0);
	}
}

.button-block {
	width: 100%;
	display: block;
}
.button-plain {
	@extend .button;
	padding: 10px 0;
	line-height: 1;
}
.button-white {
	@extend .button;
	background-color: #fff;
}

.button-border {
	@extend .button;
	padding: 13px 15px;
	border-radius: 20px;
	background-color: #f9f9f9;
	border: solid 2px #c8cfd4;
	line-height: 1;
	float: right;
}

.button-yellow {
	@extend .button;
	background-color: #FFD300;
	border: solid 2px #FFD300;
	float: right;
}
.button-plain_popup {
	@extend .button-plain;
	margin: 24px 0 0;
}
.button-border_popup {
	@extend .button-border;
	margin: 25px 14px 25px;
	font-weight: bold;
}
.button-border_popup-left {
	@extend .button-border_popup;
	margin-left: 25px;
	float: left;
}
.button-yellow_popup {
	@extend .button-yellow;
	margin: 25px 25px 25px 0;
	padding: 10px 15px;
	font-weight: bold;
}
.button-grey {
	@extend .button;
	padding: 10px 20px;
	background-color: #cecece;
	border: solid 2px #cecece;
	margin-right: 15px;
}
.button-green {
	@extend .button;
	padding: 10px 20px;
	background-color: #1e772d;
	border: solid 2px #1e772d;
	color: #ffffff;
	font-weight: 500;
}
.button-dropdown {
	padding: 10px 35px 10px 10px;
	background-color: #fff;
	border: solid 2px #c8cfd4;
	border-radius: 3px;
	position: relative;
	cursor: pointer;
	font-weight: 500;
	outline-color: #FFD300;
	&::after {
		position: absolute;
		right: 15px;
		top: 50%;
		content: '>';
		color: #a0afb8;
		transform: translateY(-45%) rotate(90deg) scaleY(2);
		font-size: 10px;
		font-weight: bold;
		font-family: "Open Sans";
	}
}
