$errorColor: #ec5555;
input {
	background-color: #f9f9f9;
}

.form__row {
	display: flex;
	justify-content: flex-end;
	// align-items: center;
	align-items: flex-start;
	flex-flow: row wrap;
/*
=======
	align-items: center;
	flex-flow: row wrap;
>>>>>>> html
*/
	padding: 7px 0;
	label {
		margin-right: 19px;
		font-size: 12px;
		font-weight: bold;
		color: #78909c;
		text-transform: uppercase;
		// line-height: 46px;
		line-height: 37px;
	}
	&.invalid label {
		color: $errorColor;
	}
}
.form-control {
	padding: 10px 15px;
	outline-color: #FFD300;
	border-radius: 3px;
	border: solid 1px #c8cfd4;
	color: #252525;
	font-weight: bold;
	font-size: 12px;
	&::placeholder {
		font-size: 12px;
		opacity: 1;
		transition: opacity 0.3s ease;
		color: #252525;
		font-weight: bold;
	}
	&:focus::placeholder {
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	&[type='password'] {
		&::placeholder {
			color: #252525;
			font-weight: bold;
			font-size: 12px;
		}
	}
}
.form__row input {
	@extend .form-control;
	width: 200px;
}
.form__row.form__row_error {
	label {
		color: #E9494D;
	}
	input {
		border-color: #E9494D;
		outline: none;
		&::placeholder {
			color: #E9494D;
			font-size: 12px;
		}
	}
	.form__error {
		display: block;
	}
}
.form__error {
	padding-top: 10px;
	text-align: justify;
	color: #E9494D;
	font-size: 12px;
	flex-basis: 230px;
	display: none;
}
.form__row_textarea {
	@extend .form__row;
	justify-content: inherit;
	margin-top: 10px;
}
.form__row_checkbox {
	@extend .form__row;
	justify-content: center;
}

input[type='password'] {
	&::placeholder {
		color: #252525;
		font-weight: bold;
		font-size: 12px;
	}
}

textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	max-width: 500px;
	margin: 0;
	padding: 15px;
	border-radius: 3px;
	background-color: #f9f9f9;
	border: solid 1px #c8cfd4;
	font-size: 12px;
	font-weight: bold;
	color: #252525;
  	outline-color: #FFD300;
	&::placeholder {
		color: #252525;
		font-weight: bold;
		font-size: 12px;
	}
}

input, textarea, .mat-select {
	&.ng-dirty.ng-invalid {
		border-color: $errorColor;
	}
}



.message {
	text-align: left;
	font-weight: 500;
	font-size: 12px;
}

.form__row {
	text-align: left;
}

.form__row {
	.message-error {
		display: none;
	}
	&.invalid .message-error {
		display: block;
	}
	.messages > .message-error {
		display: block;
	}
}
/*.ng-pending .form__row .message-error {
	display: block;
}*/
.form__input-wrapper {
	max-width: 232px;
}

.message-error {
	color: $errorColor;
}
