@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

body {
	.mat-dialog-container {
		padding: 0;
		border-radius: 10px;
	}
	.mat-dialog-title {
		padding: 37px 0 27px;
		background-color: #f4f7f9;
		text-align: center;
		color: #252525;
		text-transform: uppercase;
		border: solid 1px #dde4e7;
		font-size: 16px;
		font-weight: 600;
		font-family: "Montserrat";
	}
	.mat-dialog-content {
		margin: 0;
		padding: 0 30px;
		overflow: visible;
		font-family: "Montserrat";
		max-height: none;
	}
	.mat-dialog-actions {
		display: block;
		margin-bottom: 0;
		padding: 0;
	}
	.mat-dialog-actions:last-child {
		margin-bottom: 0;
	}
	.mat-select {
		box-sizing: border-box;
		box-sizing: border-box;
		font-family: "Montserrat";
		background-color: #f9f9f9;
		width: 230px;
		outline-color: #FFD300;
		border-radius: 3px;
	}
	.mat-select-content {
		.mat-option {
			font-weight: 600;
			color: #252525;
			.mat-option-ripple {
				font-family: "Montserrat";
			}
		}
	}
	.mat-select-trigger {
		display: block;
		padding: 10px 15px;
		line-height: 1;
		height: auto;
		&::after {
			position: absolute;
			right: 15px;
			top: 50%;
			content: '>';
			transform: translateY(-50%) rotate(90deg) scaleY(2);
			font-size: 12px;
			font-weight: bold;
			font-family: "Open Sans";
		}
	}
	.mat-select-arrow {
		display: none;
	}
	.mat-select-underline {
		display: none;
	}
	.mat-radio-group {
		.mat-radio-label {
			display: flex;
			align-items: center;
		}
		.mat-radio-container {
			top: 0;
		}
		label {
			font-size: 12px;
			font-weight: bold;
			color: #78909c;
			text-transform: uppercase;
			font-family: "Montserrat";
		}
		.mat-radio-checked .mat-radio-outer-circle {
			border-color: #3b3d40;
		}
		.mat-radio-inner-circle {
			background-color: #3b3d40;
		}
		.mat-ripple-element {
			background-color: RGBa(59,61,64, 0.2);
		}
		.mat-radio-label-content {
			padding-left: 15px;
			font-size: 13px;
			font-weight: 600;
			color: #252525;
			text-transform: none;
			font-family: "Montserrat";
		}

	}
	.mat-checkbox-layout {
		.mat-checkbox-label {
			font-size: 14px;
			font-weight: normal;
			color: #4f5f6f;
			text-transform: initial;
			font-family: "Montserrat";
		}
		.mat-checkbox-inner-container {
			border-color: #3b3d40;
		}
	}
	.mat-checkbox:not(.mat-checkbox-disabled) {
		&.mat-accent .mat-checkbox-ripple .mat-ripple-element {
			background-color: RGBa(59, 61, 64, 0.2);
		}
	}
	.mat-checkbox-checked.mat-accent .mat-checkbox-background {
		background-color: #3b3d40;
	}


	/* md-menu */
	.mat-menu-content {
		padding: 10px 0;
	}
	.mat-menu-item {
		padding: 0 25px;
		font-size: 12px;
		font-weight: bold;
		color: #78909c;
		text-transform: uppercase;
		line-height: 30px;
		font-family: "Montserrat";
	}
	.cdk-overlay-pane {
		transform: translate(10px, -10px);
	}
	/* mat-tooltip */
	.cdk-overlay-container {
		.mat-tooltip {
			position: relative;
			background-color: #fff;
			color: #000;
			border: 1px solid #dde4e7;
			border-radius: 3px;
			font-family: "Montserrat";
			font-weight: 600;
			&:after, &:before  {
				content: '';
				position: absolute;
				left: 50%;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 5px 7px 5px;
				transform: translateX(-50%);
			}
			&:after {
				top: -7px;
				border-color: transparent transparent #dde4e7 transparent;
			}
			&:before {
				top: -6px;
				border-color: transparent transparent #fff transparent;
				z-index: 1;
			}
		}
	}
	.mat-option-ripple {
		font-size: 12px;
		font-weight: 500;
		font-family: Montserrat;
		color: #252525;
	}
	.mat-select:not(:focus).ng-invalid.ng-touched:not(.mat-select-disabled) .mat-select-underline {
		color: #9B9B9B;
	}
	.mat-select:not(:focus).ng-invalid.ng-touched:not(.mat-select-disabled) .mat-select-trigger {
		color: #9B9B9B;
	}
	textarea.ng-dirty.ng-invalid {
		border-color: #c8cfd4;
	}
}

.mat-select-value-text {
	margin-left: 15px;
	font-size: 12px;
	font-weight: bold;
	color: #252525;
	font-family: "Montserrat";
}

.mat-select {
	border: solid 2px #c8cfd4;
}

.mat-select-placeholder {
	font-size: 12px;
	color: #000;
	font-weight: 600;
}
.mat-select-placeholder.mat-floating-placeholder {
	visibility: hidden !important;
}
