.list {
	width: 100%;
	margin-top: 12px;
	border-collapse: collapse;
	border-radius: 3px;
	box-shadow: 0px 3px 7px 0 #dcdcdc;
	tr {
		background-color: #fefefe;
	}
	th {
		padding: 0 20px;
		border-right: none;
		border-left: none;
		height: 58px;
		vertical-align: middle;
		font-size: 12px;
		font-weight: bold;
		text-align: left;
		color: #78909c;
		background-color: #dde4e7;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	td {
		height: 58px;
		padding: 0 20px;
		vertical-align: middle;
		border-bottom: 1px solid #dde2e5;
		border-right: none;
		border-left: none;
		font-size: 12px;
		font-weight: bold;
		color: #252525;
	}
}
.edit {
	width: 40px;
}
.edit-icon {
	float: right;
	width: 20px;
	padding: 5px;
	margin-right: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #78909c;
	user-select: none;
	cursor: pointer;
	word-wrap: normal;
}
.restore-item {
	.edit-icon {
		display: none;
	}
	.restore {
		margin-right: 30px;
		display: block;
		text-align: right;
		text-transform: uppercase;
		color: #1A782B;
		font-size: 13px;
		font-weight: 700;
		cursor: pointer;
	}
}