<div (click)="closeSidebar()" *ngIf="currentListItem" class="cdk-overlay-dark-backdrop cdk-overlay-backdrop-showing request-sidebar__overlay-position cdk-overlay-backdrop"></div>
<div class="request-sidebar" *ngIf="currentListItem">
	<div (click)="closeSidebar()" class="request-sidebar__close-button">&#10006;</div>
	<app-request-info
		[currentListItem]="currentListItem"
		(onResubmit)="closeSidebar()"
		(onShowAllInfo)="showAllInfoTrigger(isOpenedAllInfo)"
		></app-request-info>
	<div class="request-comments">
		<app-request-new-comment (onPostNote)="addNote($event)" [currentListItem]="currentListItem"></app-request-new-comment>
		<!-- comments/status-changing list -->
		<div class="request-sidebar__notes">
			<div class="request-sidebar__stick"></div>
			<app-request-note *ngFor="let event of currentListItem.events" [event]="event"></app-request-note>
		</div>
		<div [ngClass]="{ 'request-disabled-notes' : isOpenedAllInfo }"></div>
	</div>
</div>
