.request-sidebar {
	width: 400px;
	background-color: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
	overflow-y: auto;
}
.request-comments {
	position: relative;
	padding: 25px 8px 20px;
}
.request-disabled-notes {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255, .8);
}
.request-sidebar__close-button {
	position: absolute;
	right: 17px;
	top: 30px;
	padding: 10px 11px;
	border: solid 2px #c8cfd4;
	border-radius: 20px;
	background-color: #f4f7f9;
	line-height: 1;
	cursor: pointer;
	z-index: 1;
}
.request-sidebar__overlay-position {
	position: fixed;
}
.request-sidebar__notes {
	position: relative;
}
.request-sidebar__stick {
	position: absolute;
	content: '';
	left: 15.5px;
	top: 0;
	bottom: 30px;
	width: 2px;
	background-color: #d7e0e5;

}