.imageHolder {
	position: absolute;
	left: 0;
	bottom: 50%;
	transform: translateY(50%);
	width: 36px;
	height: 36px;
	border-radius: 18px;
	background-color: #1e772d;
}
@media all and (-ms-high-contrast:none) {
	*::-ms-backdrop, .imageHolder {
		transform: translateY(0);
	} /* IE11 */
}
.imageHolder__initials {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	font-weight: 500;
	font-size: 10px;
}
.requester__name-container {
	margin-left: 30px;
}
