.request-disabled-notes {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255, .8);
}
.change-status {
	position: relative;
	&:before {
		position: absolute;
		content: '';
		left: 0px;
		padding: 6px;
		border-radius: 20px;
		background-color: #d7e0e5;
		border: 10px solid #fff;
	}
}
.change-status__editor-wrapper {

}
.change-status__info {
	margin: 0 0 25px 36px;
	font-size: 12px;
	color: #78909c;
}
.change-status__editor {
	margin: 0 0 0 36px;
	font-size: 12px;
	font-weight: 600;
	text-transform: capitalize;
	color: #78909c;
}
.change-status__status {
	font-size: 12px;
	color: #78909c;
}
.change-status__date {
	font-size: 12px;
	color: #78909c;
}

.comment {
	position: relative;
	padding: 12px 10px;
	border-radius: 5px;
	background-color: #fff8dd;
	border: solid 1px #d8cfae;
	margin-bottom: 20px;
}
.comment__info {
	margin-bottom: 15px;
}
.comment__content {
	font-weight: 500;
	font-size: 12px;
	color: #252525;
}
.comment__editor {
	text-transform: capitalize;
	font-weight: 500;
	font-size: 12px;
	color: #78909c;
}
.comment__status {
	font-size: 12px;
	color: #78909c;
}
.comment__date {
	font-size: 12px;
	color: #78909c;
}
