.mat-radio-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 19px 33px 29px ;
}
app-new-request {
	display: block;
	max-height: 85vh;
	overflow: auto;
	textarea {
		resize: none;
	}
	.mat-select {
		width: 320px;
		height: 40px;
	}
	.mat-select.search-stock-num {
		width: 100%;
	}
	.form__row {
		&.form__row_disabled {
			label {
				color: #D6DDE0;
			}
			.new-request__input {
				background-color: #f9f9f9;
				border: solid 2px #EEF0F1;
				color: #D6DDE0;
				&::placeholder {
					color: #D6DDE0;
				}
			}
			.mat-select {
				border: solid 2px #EEF0F1;
			}
			.mat-select-value-text {
				color: #D6DDE0;
			}
			.mat-select-trigger::after {
				color: #EEF0F1;
			}
		}
		.new-request__input {
			box-sizing: border-box;
			width: 320px;
			height: 40px;
		}
		.new-request__purpose {
			.mat-select-value-text {
				text-transform: uppercase;
			}
		}
		.new-request__date {
			.mat-select-value-text {
				margin-left: 50px;
			}
			.mat-select-trigger {
				&::before {
					position: absolute;
					display: block;
					width: 16px;
					height: 15px;
					background-image: url(/assets/calendar.png);
					left: 15px;
					top: 50%;
					content: '';
					transform: translateY(-50%);
					font-size: 10px;
					font-weight: bold;
					font-family: "Open Sans";
				}
			}
		}
	}
	.datepicker__calendar {
		position: absolute;
		left: 50px;
		top: 0;
	}
	.datepicker__input {
		width: 320px;
		height: 40px;
		box-sizing: border-box;
		padding-left: 50px;
		background-image: url(/assets/calendar.png);
		background-repeat: no-repeat;
		background-position: 10px 50%;
		font-family: "Montserrat";
		font-size: 12px;
		font-weight: 600;
	}
	/*.datepicker__calendar__nav {
		z-index: 2;
	}
	.datepicker__calendar__month {
		z-index: 1;
		width: 18em;
		margin-top: -35px;
		caption {
			padding-bottom: 20px;
		}
	}*/
}


