<h2 md-dialog-title>{{title}}</h2>
<md-dialog-content>
	<md-radio-group [formControl]="inputType">
			<label>choose item</label>
			<md-radio-button *ngIf="notSalesPerson" value="stock">Stock #</md-radio-button>
			<md-radio-button value="model">Model #</md-radio-button>
	</md-radio-group>
	<div class="clearfix">
		<app-item-search
			[items]="items"
			(onItemSelect)="handleItemSelect($event)"
			[selectedItem]="selectedItem"
			(onSearch)="handleItemSeach($event)"
			[searchParam]="inputType.value">
		</app-item-search>
		<p class="message message-error" *ngIf="requestForm.get('storeItemId').errors?.required && requestForm.get('storeItemId').dirty">Item is required.</p>
		<div class="messages" *ngIf="errors.storeItemId">
			<p class="message message-error" *ngFor="let error of errors.storeItemId">{{error}}</p>
		</div>
	</div>

	<form novalidate [formGroup]="requestForm" (ngSubmit)="saveRequest(requestForm)">
		<div class="form__row" [ngClass]="{invalid: requestForm.get('purpose').invalid && requestForm.get('purpose').dirty || errors.purpose, form__row_disabled: requestForm.get('purpose').disabled}">
			<label>purpose</label>
			<div>
				<md-select class="new-request__purpose" formControlName="purpose" placeholder="Choose purpose">
					<md-option *ngFor="let purpose of purposes" [value]="purpose.value">{{ purpose.viewValue }}</md-option>
				</md-select>
				<p class="message message-error" *ngIf="requestForm.get('purpose').errors?.required">Purpose is required.</p>
				<div class="messages" *ngIf="errors.purpose">
					<p class="message message-error" *ngFor="let error of errors.purpose">{{error}}</p>
				</div>
			</div>
		</div>

		<div *ngIf="(isAdmin || isTransferCoordinator) && !resubmit" class="form__row" [ngClass]="{invalid: requestForm.get('storeReceiverId').invalid && requestForm.get('storeReceiverId').dirty || errors.storeReceiverId}">
			<label>receiving location</label>
			<div>
				<md-select formControlName="storeReceiverId">
					<md-option *ngFor="let store of locations" [value]="store.id">{{ store.name }}</md-option>
				</md-select>
				<p class="message message-error" *ngIf="requestForm.get('storeReceiverId').errors?.required">Location is required.</p>
				<div class="messages" *ngIf="errors.storeReceiverId">
					<p class="message message-error" *ngFor="let error of errors.storeReceiverId">{{error}}</p>
				</div>
			</div>
		</div>
		<div class="form__row" [ngClass]="{invalid: requestForm.get('receiverUserName').invalid && requestForm.get('receiverUserName').dirty || errors.receiverUserName, form__row_disabled: requestForm.get('receiverUserName').disabled}">
			<label>sold to</label>
			<input formControlName="receiverUserName" class="new-request__input" type="text" placeholder="Enter receiver`s name">
			<div class="messages" *ngIf="errors.receiverUserName">
				<p class="message message-error" *ngFor="let error of errors.receiverUserName">{{error}}</p>
			</div>
		</div>
		<div class="form__row calendar"
			*ngIf="(isAdmin || isTransferCoordinator) && !resubmit && requestForm.get('id')"
			[ngClass]="{invalid: requestForm.get('shipmentTimestamp').invalid && requestForm.get('shipmentTimestamp').dirty || errors.shipmentTimestamp}"
		>
			<label>shipment date</label>
			<material-datepicker
        [date]="dates"
        (onDateChange)="handleDateSelect($event)"
        dateFormat="MM/DD/YYYY"
        [showMonths]="1"
        [isRange]="false"
      ></material-datepicker>
			<div class="messages" *ngIf="errors.shipmentTimestamp">
				<p class="message message-error" *ngFor="let error of errors.shipmentTimestamp">{{error}}</p>
			</div>
		</div>
		<div class="form__row_textarea">
			<textarea formControlName="lastNote" rows="5" placeholder="Enter your note"></textarea>
		</div>
		<div class="form__row_checkbox" *ngIf="requestForm.get('getEmailUpdates')">
			<md-checkbox formControlName="getEmailUpdates">Send me email updates when status changes</md-checkbox>
		</div>
	</form>

</md-dialog-content>
<md-dialog-actions>
	<div class="clearfix">
		<button class="button-yellow_popup" (click)="saveRequest(requestForm)" type="button">Submit</button>
		<button class="button-border_popup" type="button" md-dialog-close>Cancel</button>
	</div>
</md-dialog-actions>
