<div class="login__wrapper">
	<div class="logo">
		<span class="triangle"></span>
	</div>
	<div class="login">
		<form novalidate class="login__form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
			<input class="login__input" formControlName="username" type="email" name="email" placeholder="Email">
			<input class="login__input" formControlName="password" type="password" name="password" placeholder="Password">
			<button class="button-yellow button-block md-button" type="submit">Login</button>
			<button class="button-border button-border_create-account" type="button" (click)="openCreate()">Create account</button>
			<button class="button-plain_popup" type="button" (click)="openRestore()">Forgot password?</button>
		</form>
	</div>
</div>
