app-login {
	position: fixed;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #F4F7F9;
	z-index: 1;
	overflow: auto;
}

.login__wrapper {
	width: 400px;
	margin: 0 auto;
}

.logo {
	background-color: #202020;
	height: 150px;
	width: 70%;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
.triangle {
	box-sizing: content-box;
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	text-align: center;
	color: #fff;
	background-color: #202020;
	background-image: url(/assets/wt-logo.png);
	background-repeat: no-repeat;
	background-position: 50% 30%;
	line-height: 50px;
	text-decoration: none;
	padding-bottom: 70px;
	background-clip: content-box;
	overflow: hidden;
	&:after {
		content: "";
		width: 54%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #202020;
		padding-bottom: 25%;
		z-index: -1;
		transform-origin: 0 0;
		transform: rotate(-14.5deg) skewX(60deg);
		opacity: 1;
		transition: opacity ease 1s;
	}
}
.login {
	margin-top: 200px;
	padding: 38px 35px;
	background-color: #fff;
}
.login__input {
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 25px;
	border-radius: 3px;
	background-color: #f9f9f9;
	border: solid 1px #c8cfd4;
	outline-color: #FFD300;
	color: #252525;
	font-weight: bold;
	&[type='password'] {
		letter-spacing: 2px;
	}
	&::placeholder {
		opacity: 1;
		transition: opacity 0.3s ease;
		color: #252525;
		font-weight: bold;
		letter-spacing: normal;
	}
	&:focus::placeholder {
		opacity: 0;
		transition: opacity 0.3s ease;
	}
}
.ui-dialog .ui-dialog-content {
	overflow: visible;
}

.login__form {
	.mat-select {
		width: 228px;
		// border: solid 2px #c8cfd4; // moved to _material.scss
	}
}
.button-border_create-account {
	margin-top: 21px;
}