<app-top-bar>
	<app-search-component (onSearch)="updateGetParams($event)" [clearSearchText$]="clearSearchText$"></app-search-component>
</app-top-bar>
<div class="request-content">
	<app-requests-filter (onAddClick)="handleNewRequest()" (onClearFilter)="clearSearchText$.next()" [params]="params$ | async"></app-requests-filter>
	<app-request-list (onEditClick)="handleNewRequest($event)" [requests]="requests$ | async"></app-request-list>
</div>
<app-request-sidebar></app-request-sidebar>
