.top-bar {
	position: fixed;
	left: 280px; //sidebar width
	top: 0;
	right: 0;
	height: 80px;
	background-color: #fff;
	border-bottom: solid 1px #dde4e7;
	z-index: 1;

}

/*.top-bar {
	position: fixed;
	left: 280px; //sidebar width
	top: 0;
	right: 0;
	height: 80px;
	background-color: #fff;
	border-bottom: solid 1px #dde4e7;
	app-user-menu {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		top: 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		a {
			display: block;
			position: relative;
			font-size: 14px;
			font-weight: bold;
			color: #252525;
			margin-right: 70px;
		}
		.arrow {
			position: absolute;
			right: -20px;
			top: 50%;
			font-family: "Open Sans";
			font-size: 12px;
			color: #9a9a9a;
		}
		.arrow_down {
			@extend .arrow;
			transform: translateY(-50%) rotate(90deg) scaleY(2);
		}
		.arrow_up {
			@extend .arrow;
			transform: translateY(-50%) rotate(-90deg) scaleY(2);
		}
	}

	.search {
		width: 200px;
		padding: 13px 40px;
		border-radius: 30px;
		background-color: #f4f7f9;
		border: solid 1px #e6ecef;
		outline: #FFD300;
		&::placeholder {
			text-transform: uppercase;
			font-size: 12px;
			font-weight: bold;
			color: #becad0;
		}
	}
	.search__icon {
		position: absolute;
		left: 17px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 14px;
		color: #becad0;
	}
	.search__wrapp {
		position: absolute;
		left: 40px;
		top: 50%;
		transform: translateY(-50%);
		//margin-left: 40px;
	}
}
*/
