<form class="requests-filter" [formGroup]="filterForm">
	<div class="requests-filter__add">
		<button (click)="clearFilter()" class="button-plain">Clear filter</button>
		<button *ngIf="canAddRequest" (click)="addRequest()" class="button-yellow">+Add request</button>
	</div>
	<div class="requests-filter__item">
		<md-select [floatPlaceholder]="false" placeholder="Select status" formControlName="statuses">
			<md-option *ngFor="let status of statuses" [value]="status.value">
				{{ status.viewValue }}
			</md-option>
		</md-select>
		<a (click)="clear('statuses', [])" class="requests-filter__clear">&#10005;</a>
	</div>
	<div class="requests-filter__item">
		<md-select [floatPlaceholder]="false" placeholder="Purpose" formControlName="purposes">
			<md-option *ngFor="let purpose of purposes" [value]="purpose.value">
				{{ purpose.viewValue }}
			</md-option>
		</md-select>
		<a (click)="clear('purposes', [])" class="requests-filter__clear">&#10005;</a>
	</div>
	<div class="requests-filter__item">
		<md-select [floatPlaceholder]="false" placeholder="Requester" formControlName="requestedByIds">
			<md-option *ngFor="let user of users" [value]="user.id">
				{{user.firstName}} {{user.lastName}}
			</md-option>
		</md-select>
		<a (click)="clear('requestedByIds', [])" class="requests-filter__clear">&#10005;</a>
	</div>
	<div class="clearfix"></div>
	<div class="requests-filter__item">
		<md-select [floatPlaceholder]="false" placeholder="From" formControlName="itemStoreIds">
			<md-option *ngFor="let store of locations" [value]="store.id">
				{{ store.name }}
			</md-option>
		</md-select>
		<a (click)="clear('itemStoreIds', [])" class="requests-filter__clear">&#10005;</a>
	</div>
	<div class="requests-filter__item">
		<md-select [floatPlaceholder]="false" placeholder="To" formControlName="receivingStoreIds">
			<md-option *ngFor="let store of locations" [value]="store.id">
				{{ store.name }}
			</md-option>
		</md-select>
		<a (click)="clear('receivingStoreIds', [])" class="requests-filter__clear">&#10005;</a>
	</div>
	<div class="requests-filter__item">
		<material-datepicker
			[date]="dates"
			(onDateChange)="handleDateSelect($event)"
			dateFormat="MM/DD/YYYY"
			[showMonths]="1"
			[isRange]="false"
			[maxDate]="maxDate"
			[showRangeSwithcher]="true"
		></material-datepicker>
		<a (click)="clearDate()" class="requests-filter__clear">&#10005;</a>
	</div>
</form>
<!--<div class="requests-filter__top">
	<div class="requests-filter__item">
		<md-select multiple [floatPlaceholder]="false" placeholder="Model #">
			<md-option *ngFor="let model of models" [value]="model">
				{{ model }}
			</md-option>
		</md-select>
		<md-select multiple [floatPlaceholder]="false" placeholder="Purpose">
			<md-option *ngFor="let purpose of purposes" [value]="purpose.value">
				{{ purpose.viewValue }}
			</md-option>
		</md-select>
		<md-select multiple [floatPlaceholder]="false" placeholder="Requester">
			<md-option *ngFor="let user of users" [value]="user.id">
				{{user.firstName}} - {{user.lastName}}
			</md-option>
		</md-select>
	</div>
	<div class="requests-filter__clear-add">
		<button class="button-plain">Clear filter</button>
		<button (click)="addRequest()" class="button-yellow">+Add request</button>
	</div>
</div>
<div class="requests-filter__bottom">
	<div class="requests-filter__item">
		<md-select multiple [floatPlaceholder]="false" placeholder="From">
			<md-option *ngFor="let store of locations" [value]="store.id">
				{{ store.name }}
			</md-option>
		</md-select>
		<md-select multiple [floatPlaceholder]="false" placeholder="To">
			<md-option *ngFor="let store of locations" [value]="store.id">
				{{ store.name }}
			</md-option>
		</md-select>
		<md-select [floatPlaceholder]="false" placeholder="Request Date">
			<md-option *ngFor="let food of foods" [value]="food.value">
				{{ food.viewValue }}
			</md-option>
		</md-select>
		<md-select multiple [floatPlaceholder]="false" placeholder="Select status">
			<md-option *ngFor="let status of statuses" [value]="status.value">
				{{ status.viewValue }}
			</md-option>
		</md-select>
	</div>
</div>
-->
