.requests-filter__item {
	.mat-select {
		margin-bottom: 10px;
		margin-right: 6px;
	}
}
.requests-filter__clear-add {
	display: flex;
}
.requests-filter__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.button-plain {
		margin-right: 40px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: -25px;
			top: 50%;
			height: 18px;
			width: 18px;
			background-color: #f4f7f9;
			background-image: url(/assets/circle-cross.png);
			background-repeat: no-repeat;

			transform: translateY(-50%);
		}
	}
	.button-yellow {
		padding: 8px 20px;
		min-width: 150px;
	}
}


.requests-filter {
	.mat-select {
		margin-bottom: 10px;
		margin-right: 6px;
	}
	.button-yellow {
		padding: 8px 20px;
		min-width: 150px;
	}
	.button-plain {
		padding: 15px 0;
		margin-right: 40px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: -25px;
			top: 50%;
			height: 18px;
			width: 18px;
			background-color: #f4f7f9;
			background-image: url(/assets/circle-cross.png);
			background-repeat: no-repeat;
			transform: translateY(-50%);
		}
	}
	.mat-select-value-text {
		margin-left: 10px;
		margin-right: 30px;
	}
	.clearfix {
		display: none;
		@media all and (min-width: 1400px) {
			display: block;
		}
	}
	.datepicker {
		margin-bottom: 10px;
		margin-right: 6px;
		&::after {
			position: absolute;
			right: 15px;
			top: 50%;
			content: '>';
			-webkit-transform: translateY(-50%) rotate(90deg) scaleY(2);
			transform: translateY(-50%) rotate(90deg) scaleY(2);
			font-size: 12px;
			font-weight: bold;
			font-family: "Open Sans";
			color: rgba(0, 0, 0, 0.38);
		}
	}
	.datepicker__calendar {
		top: 40px;
	}
	.datepicker .datepicker__input {
		position: relative;
		box-sizing: border-box;
		display: block;
		height: auto;
		width: 230px;
		min-width: 112px;
		padding: 11px 15px 10px;
		border: solid 2px #c8cfd4;
		border-radius: 3px;
		line-height: 1;
		background-color: #f9f9f9;
		font-family: "Montserrat";
		outline-color: #FFD300;
		cursor: pointer;
		font-size: 12px;
		font-weight: 600;
		&::-moz-placeholder {
			color: #000;
			opacity: 0.38;
		}
		&:-ms-input-placeholder {
			color: #000;
			opacity: 0.38;
		}
		&.selected {
			font-size: 12px;
			font-weight: 600;
		}
		&::placeholder {
			color: #000;
		}
	}

}

.requests-filter__clear {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	top: 10px;
	right: 35px;
	color: rgba(0, 0, 0, 0.380392);
}

.requests-filter__add {
	float: right;
	min-height: 55px;
}

.requests-filter__item {
	float: left;
	min-height: 55px;
	position: relative;
}
