{{ tokenStorage.getToken().getUser().getLastName() }} {{ tokenStorage.getToken().getUser().getLastName() }} updated transfer request <a href="{{ adminSiteUrl }}/#/requests">{{ tr.storeItem.stockNumber }}</a> on {{ tr.requestDatetime|date("m/d/Y") }} at {{ tr.requestDatetime|date("H:i:s") }} {% if note %}and added a note{% endif %}.

{% if tr.storeItem.stockNumber != old.storeItem.stockNumber %}<br>Stock # changed from {{ old.storeItem.stockNumber }} to {{ tr.storeItem.stockNumber }}{% endif %}
{% if tr.purpose != old.purpose %}<br>Purpose changed from {{ old.purpose }} to {{ tr.purpose }}{% endif %}
{% if tr.storeReceiver.name != old.storeReceiver.name %}<br>Receiving location changed from {{ old.storeReceiver.name }} to {{ tr.storeReceiver.name }}{% endif %}
{% if old.shipmentDate == null %}<br>Estimated shipment date set to {{ old.shipmentDate|date("m/d/Y H:i:s") }}{% endif %}
{% if old.shipmentDate != null and tr.shipmentDate != old.shipmentDate %}<br>Estimated shipment date changed from {{ old.shipmentDate|date("m/d/Y H:i:s") }} to {{ tr.shipmentDate|date("m/d/Y H:i:s") }}{% endif %}


{% if note %}<br><br>{{ note }}{% endif %}

<br>
<br>
Stock # {{ tr.storeItem.stockNumber }}
<br>
Model # {{ tr.storeItem.item.ModelName }}
<br>
Purpose {{ tr.purpose }}
<br>
Status {{ tr.status }}
<br>
Shipment Date {{ tr.shipmentDate|date("m/d/Y H:i:s") }}
<br>
Request Date {{ tr.requestDatetime|date("m/d/Y H:i:s") }}
<br>
From {{ tr.storeItem.store.name }}
<br>
To {{ tr.storeReceiver.name }}
<br>
Requester {{ tr.requestedBy.firstName }} {{ tr.requestedBy.lastName }}
<br>
Receiver {{ tr.receiverUserName }}



