{{ tr.storeItem.store.manager.firstName }} {{ tr.storeItem.store.manager.lastName }} didn’t carry out the decision on transfer request <a href="http://tractor-web.s3-website.eu-central-1.amazonaws.com/#/requests">{{ tr.storeItem.stockNumber }}</a> and it was cancelled on {{ tr.requestDatetime|date("m/d/Y") }} at {{ tr.requestDatetime|date("H:i:s") }} .
<br><br>
<b>Stock #</b> {{ tr.storeItem.stockNumber }} <br>
<b>Model #</b> {{ tr.storeItem.item.ModelName }} <br>
<b>Purpose</b> {{ tr.purpose }} <br>
<b>Status</b> {{ tr.status }} <br>
<b>Shipment Date</b> {{ tr.shipmentDate|date("m/d/Y H:i:s") }} <br>
<b>Request Date</b> {{ tr.requestDatetime|date("m/d/Y H:i:s") }} <br>
<b>From</b> {{ tr.storeItem.store.name }} <br>
<b>To</b> {{ tr.storeReceiver.name }} <br>
<b>Requester</b> {{ tr.requestedBy.firstName }} {{ tr.requestedBy.lastName }} <br>
<b>Receiver</b> {{ tr.receiverUserName }} <br>
