You now have a new pending transfer from your store: <a href="{{ adminSiteUrl }}/#/requests">click here</a>.
{{ tr.requestedBy.firstName }} {{ tr.requestedBy.lastName }} placed transfer request <a href="{{ adminSiteUrl }}/#/requests">{{ tr.storeItem.stockNumber }}</a> on {{ tr.requestDatetime|date("m/d/Y") }} at {{ tr.requestDatetime|date("H:i:s") }} {% if note %}and added a note{% endif %}.

{% if note %}<br><br>{{ note }}{% endif %}

<br><br>
Stock # {{ tr.storeItem.stockNumber }}
<br>
Model # {{ tr.storeItem.item.ModelName }}
<br>
Purpose {{ tr.purpose }}
<br>
Status {{ tr.status }}
<br>
Shipment Date {{ tr.shipmentDate|date("m/d/Y H:i:s") }}
<br>
Request Date {{ tr.requestDatetime|date("m/d/Y H:i:s") }}
<br>
From {{ tr.storeItem.store.name }}
<br>
To {{ tr.storeReceiver.name }}
<br>
Requester {{ tr.requestedBy.firstName }} {{ tr.requestedBy.lastName }}
<br>
Receiver {{ tr.receiverUserName }}