You have a new pending user waiting to be approved. View in the web app <a href="{{ adminSiteUrl }}/#/user-setup" >here</a>.
<br>
First Name {{ user.firstName }}
<br>
Last Name {{ user.lastName }}
<br>
Email address {{ user.email }}
<br>
User Level {{ userLevel }}

{% if userLocation %}<br>Work Location {{ userLocation.name }}{% endif %}