{{ tr.storeItem.store.manager.firstName }} {{ tr.storeItem.store.manager.lastName }} didn’t carry out the decision on transfer request and it was cancelled on {{ tr.requestDatetime|date("m/d/Y") }} at {{ tr.requestDatetime|date("H:i:s") }} .