.locations__top-wrap {
	padding: 5px 0;
	overflow: auto;
}

.locations__header {
	float: left;
	padding: 10px 0;
	color: #328641;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
}

.locations-list {
	.name {
		color: #252525;
		text-transform: capitalize;
	}
	.address {
		text-transform: uppercase;
		width: 300px;
		max-width: 300px;
		word-wrap: break-word;
		color: #78909c;
	}
	.store-manager {
		text-transform: none;
		color: #78909c;
	}
	.restore {
		display: none;
	}
	.restore-item {
		.name {
			color: #BEBEBE;
		}
		.address {
			color: #D6DDE1;
		}
		.storeManager {
			color: #D6DDE1;
		}
		.restore {
			display: block;
		}
	}
}

