<div class="locations__top-wrap">
	<button (click)="create()" *ngIf="isAdmin" class="button-yellow pull-right">+Add location</button>
	<div class="locations__header">Locations ({{locations.length}})</div>
</div>
<table class="list locations-list">
	<tr>
		<th>name</th>
		<th>address</th>
		<th>store manager</th>
		<th *ngIf="isAdmin"></th>
	</tr>
	<tr *ngFor="let location of locations" [ngClass]="{list__content: true, 'restore-item': location.removed}">
		<td class="name">{{location.name}}</td>
		<td class="address">{{location.address}}</td>
		<td class="store-manager">
			<div>{{location.manager?.firstName}} {{location.manager?.lastName}}</div>
			<div>{{location.manager?.email}}</div>
		</td>
		<td class="edit" *ngIf="isAdmin">
			<a [mdMenuTriggerFor]="editMenu" (click)="setEditLocation(location)" class="edit-icon">• • •</a>
			<div class="restore" (click)="restore(location)">restore</div>
		</td>
	</tr>
</table>
<md-menu #editMenu="mdMenu">
	<span class="edit-icon">• • •</span>
	<button (click)="edit()" md-menu-item> edit</button>
	<button (click)="delete()" md-menu-item> delete</button>
</md-menu>
