<div class="request-info">
	<div class="pull-left">
		<app-request-status [item]="currentListItem" [transferDetailsView]="true"></app-request-status>
	</div>
	<button *ngIf="canResubmit" class="button-yellow button_resubmit" (click)="resubmitRequest(currentListItem)">Resubmit</button>
	<div class="request-info__properties">
		<div class="request-info__data-item">
			<div class="request-info__data-key">stock number</div>
			<div class="request-info__data-value request-info__data-value_stock-number">{{currentListItem.storeItem.stockNumber}}</div>
		</div>
		<div class="request-info__data-item">
			<div class="request-info__data-key">model number</div>
			<div class="request-info__data-value request-info__data-value_model-number">{{currentListItem.storeItem.modelName}}</div>
		</div>
		<div class="request-info__data-item" *ngIf="!isOpenedAllInfo">
			<div class="request-info__data-key">purpose</div>
			<div class="request-info__data-value request-info__data-value_purpose">{{PURPOSE_TITLES[currentListItem.purpose]}}</div>
		</div>
		<div class="request-info__data-item" >
			<div class="request-info__data-key">requester</div>
			<div class="request-info__data-value request-info__data-value_requester">

				<div class="request-info__requester-name">
					<app-username [user]="currentListItem.requestedBy"></app-username>
				</div>
			</div>
		</div>
		<div class="request-info__data-item"  *ngIf="isOpenedAllInfo">
			<div class="request-info__data-key">from</div>
			<div class="request-info__data-value request-info__data-value_from">{{currentListItem.storeItem.store.name}}</div>
		</div>
		<div class="request-info__data-item" *ngIf="isOpenedAllInfo">
			<div class="request-info__data-key">to</div>
			<div class="request-info__data-value request-info__data-value_to">{{currentListItem.storeReceiver.name}}</div>
		</div>
		<div class="request-info__data-item" *ngIf="isOpenedAllInfo">
			<div class="request-info__data-key">request</div>
			<div class="request-info__data-value request-info__data-value_request">{{currentListItem.requestDate | date:"MM/dd/yy"}}</div>
		</div>
		<div class="request-info__data-item" *ngIf="isOpenedAllInfo">
			<div class="request-info__data-key">sold to</div>
			<div class="request-info__data-value request-info__data-value_receiver">{{currentListItem.receiverUserName}}</div>
		</div>
	</div>
	<button class="request-info__show-all-info"
	        [ngClass]="{ 'request-info__show-comments' : isOpenedAllInfo }"
	        (click)="showAllInfo(isOpenedAllInfo)">{{ isOpenedAllInfo ? "show comments" : "show all info" }}</button> <!-- request-info__show-all-info -->
</div>
