app-request-info {
	.request-info {
		position: relative;
		padding: 35px 17px 20px;
		background-color: #f4f7f9;
		border-bottom: solid 1px #dde4e7;
		&:after {
			content: '';
			clear: both;
			display: table;
		}
	}
	.status__wrapper_pending {
		margin-left: 0;
	}
	.request-info__properties {
		clear: both;
		margin-top: 50px;
		box-sizing: border-box;
	}
	.request-info__data-item {
		&:after {
			content: '';
			clear: both;
			display: table;
		}
	}
	.request-info__data-key {
		display: block;
		float: left;
		padding: 15px 0;
		width: 30%;
		box-sizing: border-box;
		font-size: 12px;
		font-weight: bold;
		color: #78909c;
		text-transform: uppercase;
		&:after {
			content: '';
			clear: both;
			display: table;
		}
	}
	.request-info__data-value {
		display: block;
		float: right;
		padding: 15px 0;
		text-align: right;
		width: 70%;
		box-sizing: border-box;
	}
	.request-info__data-value_stock-number {
		font-size: 12px;
		font-weight: bold;
		color: #1e772d;
	}
	.request-info__data-value_model-number {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
		color: #1e772d;
	}
	.request-info__data-value_purpose {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
		color: #1e772d;
	}
	.request-info__data-value_requester {
		font-size: 12px;
		font-weight: bold;
		color: #252525;
		text-transform: uppercase;

	}
	.request-info__requester-name {
		position: relative;
		display: inline-block;
		max-width: 190px;
		.imageHolder {
			position: absolute;
			left: -45px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.request-info__data-value_from {
		font-size: 12px;
		font-weight: bold;
		color: #1e772d;
	}
	.request-info__data-value_to {
		font-size: 12px;
		font-weight: bold;
		color: #1e772d;
	}
	.request-info__data-value_request {
		font-size: 12px;
		font-weight: bold;
		color: #252525;
	}
	.request-info__data-value_receiver {
		font-size: 12px;
		font-weight: bold;
		color: #252525;
		text-transform: uppercase;
	}
	.request-info__show-all-info {
		display: block;
		margin: 20px auto 0;
		padding: 12px 20px;
		background-color: #fefefe;
		border: solid 2px #c8cfd4;
		border-radius: 20px;
		font-size: 12px;
		font-weight: bold;
		color: #252525;
		text-transform: uppercase;
		outline: none;
		cursor: pointer;
	}
	.request-info__show-comments {
		position: absolute;
		bottom: -60px;
		left: 50%;
		z-index: 2;
		transform: translateX(-50%);
	}
	.button_resubmit {
		margin-top: -5px;
		margin-right: 70px;
	}
}