<h2 md-dialog-title>decline transfer request #{{item.id}}</h2>
<md-dialog-content>
	<div [ngClass]="{invalid: text.invalid}">
  	<textarea [formControl]="text" type="text" placeholder="Text"></textarea>
		<p *ngIf="text.invalid" class="message message-error">Text is requered</p>
	</div>
</md-dialog-content>
<md-dialog-actions>
  <button class="button-yellow_popup" type="button" (click)="decline()">Decline</button>
  <button class="button-border_popup" type="button" md-dialog-close>Cancel</button>
</md-dialog-actions>
