<h2 md-dialog-title>decline {{name}} registration request</h2>
<md-dialog-content>
	<textarea type="text" placeholder="Text" [(ngModel)]="note"></textarea>
</md-dialog-content>
<md-dialog-actions>
	<button class="button-yellow_popup" type="button" (click)="submit()">Decline</button>
	<button class="button-border_popup" type="button" md-dialog-close>Cancel</button>
</md-dialog-actions>
