.user-setup-content {
	padding: 23px 40px;
	background-color: #f4f7f9;
}
.user-setup__header {
	font-size: 12px;
	font-weight: 600;
	color: #78909c;
	text-transform: uppercase;
	margin: 20px 0;
}

.user-setup-list {
	.last-name {
		font-size: 12px;
		font-weight: bold;
		color: #252525;
		text-transform: none;
	}
	.first-name {
		font-size: 12px;
		font-weight: bold;
		color: #252525;
		text-transform: none;
	}
	.email {
		text-transform: none;
		color: #78909c;
	}
	.user-level {
		width: 110px;
		text-align: center;
		color: #78909c;
	}
	.location {
		width: 110px;
		color: #78909c;
	}
	.buttons {
		text-align: right;
		padding: 0;
	}
	.model {
		text-align: right;
		padding: 0;
	}
	.edit {
		width: 20px;
		max-width: 80px;
	}
	.restore {
		display: none;
	}
	.restore-item {
		.last-name {
			color: #bebebe;
		}
		.first-name {
			color: #bebebe;
		}
		.email {
			color: #d6dde1;
		}
		.user-level {
			color: #d6dde1;
		}
		.location {
			color: #d6dde1;
		}
		.model {
			color: #d6dde1;
		}
	}
	.user-level .tooltip-holder {
		display: block;
		width: auto;
		padding: 15px 0;
		.mat-tooltip {
			top: 40px;
		}
	}
	.list__cell-wrap {
		width: 220px;
		display: inline-block;
		margin-right: 10px;
		text-align: right;
	}
}