<app-top-bar></app-top-bar>
<div class="user-setup-content">
	<!--<app-popup-notice></app-popup-notice>-->
	<app-user-reg-request
		*ngIf="newUsers && newUsers.length"
		[users]="newUsers"
		(onApprove)="handleApprove($event)"
		(onDecline)="handleDecline($event)">
	</app-user-reg-request>
	<app-user-list
		[users]="registeredUsers"
		[loadMore$]="loadMore$"
		(onEdit)="onUserEdit($event)"
		(onDelete)="handleDelete($event)"
		(onRestore)="handleRestore($event)">
	</app-user-list>
</div>
